header{
    width: 100%;
    display: flex;
    flex-direction: column;
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
#top-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    padding: 12px 0 12px 20px;
    /*a img{
    width: 150px;
    height: 50px;
    } */
}
nav ul{
    margin: 0;
    padding: 0;
}
nav li{
    display: inline-block;
    list-style: none;
}
nav a {
    text-decoration: none;
    display: block;
    padding: 30px 20px;
}
#menu-icon{
    width: 100%;
    padding: 10px 20px;
    text-align: right;
    box-sizing: border-box;
    font-size: 40px;
    display: none;
    cursor: pointer;
}

#hero-image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hero-image-1{
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    border: 3px black solid;
    height: 100%;
    max-height: 500px;
    width: 100%;
    max-width: 500px;
    position: absolute;
    transform: rotate(15deg);
    z-index: 10;
}

#hero-image-2{
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    background-image: url("https://images.unsplash.com/photo-1499651681375-8afc5a4db253?ixlib=rb-0.3.5&s=ea832c1bb3fddac1b4a2d0937d2ecb5f&auto=format&fit=crop&w=987&q=80");
    background-size: cover;
    height: 500px;
    width: 100%;
    max-width: 500px;
    position: relative;
    
}

@media screen and (max-width:768px){
    #menu-icon{
        display: block;
    }
    nav ul, nav:active ul { 
		display: none;
		position: absolute;
		padding: 20px;
		background: #fff;
		border: 5px solid #444;
		right: 0px;
		top: 60px;
		width: 90%;
		border-radius: 4px 0 4px 4px;
	}
    .menu {
        width: 100%;
        display: none;
        background-color: gainsboro;
    }
    nav li {
		text-align: left;
		width: 100%;
		padding: 10px 0;
		margin: 0;
	}
    nav:hover ul {
		display: block;
	}
   
    
    
        
          
}

